<div class"container>
  <div class="row">
    <div class="col l2">  
    Profile 
   
    </div>
    <div class="col l8">
      <div>
      <h3>User's post</h3>
      <% @posts.each do |post|%>
      <div><%= post.content %></div>
      <% end %>

    </div>

  </div>
</div>